Operation

    * oprand
    * operators

In [2]:
print(5 + 2)

7

In [3]:
print( 5 - 2 )

3

In [4]:
print( 5 * 2)

10

In [5]:
print(5/2) # float

2.5

In [6]:
print(5**2) #power

25

In [7]:
print(5//2) # floor division

2

In [8]:
print(7//2)

3

In [9]:
print(11 % 3) # modulus

2

#### = equal operator 
assign any value to variable (placeholder)
syntax:

``` variable_name = value ```

* value any data type

In [12]:
school = "PIAIC"
batch = "36/37"
teacher = "Muhammad Qasim"
timing = "9 am to 12 pm"


print(school)
print(batch)
print(teacher)
print(timing)

print(school)
print(batch)
print(teacher)
print(timing)

print(school)
print(batch)
print(teacher)
print(timing)

print(school)
print(batch)
print(teacher)
print(timing)

PIAIC
36/37
Muhammad Qasim
9 am to 12 pm
PIAIC
36/37
Muhammad Qasim
9 am to 12 pm
PIAIC
36/37
Muhammad Qasim
9 am to 12 pm
PIAIC
36/37
Muhammad Qasim
9 am to 12 pm

In [18]:
print(id(school))
print(id(batch))
print(id(teacher))
print(id(timing))

139680744984880
139680744987440
139680745070704
139680745070640

In [13]:
name = "Muhammad Qasim"
print(name)

Muhammad Qasim

# use some pre-define functions
* print()
* type()
* id()
* len()

In [17]:
name = "Muhammad Qasim"
print(type(name)) # data type 
print(id(name)) # memory address
print(len(name)) # length (count number of character)

<class 'str'>
139680745056880
14

In [19]:
name = "Muhammad Qasim"
teacher_name = "Muhammad Qasim"

print(id(name))
print(id(teacher_name))

139680739920112
139680739920496

In [20]:
a = "Pakistan"
b = "Pakistan"

print(id(a))
print(id(b))

139680739921136
139680739921136