# how to assign string values in variable

In [1]:
name = "Muhammad Qasim" # 1
print(name,type(name))

Muhammad Qasim <class 'str'>

In [2]:
name = 'Muhammad Qasim' # 2
print(name,type(name))

Muhammad Qasim <class 'str'>

In [3]:
#we have to define space characters (\n \t )
data = 'name:\t\tQasim\nfather Name:\tMuhammad Aslam\nBatch:\t\t 36-37'
print(data)

name:		Qasim
father Name:	Muhammad Aslam
Batch:		 36-37

In [4]:
# if you are using sing quote in start and end 
# or you want to use in middle of the text the you place (\) 
# before middle single quote
data = 'name:\t\tQasim\nfather\'s Name:\tMuhammad Aslam\nBatch:\t\t 36-37'
print(data)

name:		Qasim
father's Name:	Muhammad Aslam
Batch:		 36-37

In [5]:
data = "PIAIC \" ss \" Pakistan zinda bad"
print(data)

PIAIC " ss " Pakistan zinda bad

In [6]:
name = "Muhammad \"Q\"asim" # 1
print(name,type(name))

Muhammad "Q"asim <class 'str'>

In [7]:
# triple singl quote or triple double quote > define multi line string
data = """
Name:             Muhammad Qasim
Father's Name:    Muhammad Aslam
Batch:            36-37
"""
data # if you write in last line = out put raw text

"\nName:             Muhammad Qasim\nFather's Name:    Muhammad Aslam\nBatch:            36-37\n"

In [20]:
data = """
Name:             Muhammad Qasim
Father's Name:    Muhammad Aslam
Batch:            36-37
"""
print(data)

Name:             Muhammad Qasim
Father's Name:    Muhammad Aslam
Batch:            36-37

In [23]:
name

'Muhammad Qasim'

In [24]:
print(data)

Name:             Muhammad Qasim
Father's Name:    Muhammad Aslam
Batch:            36-37

In [25]:
# https://www.w3schools.com/python/gloss_python_variable_names.asp#:~:text=Rules%20for%20Python%20variables%3A,0%2D9%2C%20and%20_%20)

# How to apply varialbe name rules

In [26]:
1name = "Qasim"

SyntaxError: invalid syntax (<ipython-input-26-c60abe3a92ae>, line 1)

In [27]:
_1name = "qasim"
_1name

'qasim'

In [30]:
father_name1 = "Muhammad Aslam"
father_name1

'Muhammad Aslam'

In [31]:
father_Name1 = "Muhammad Aslam"
father_Name1

'Muhammad Aslam'

In [32]:
father@Name1 = "Muhammad Aslam"
father@Name1

SyntaxError: can't assign to operator (<ipython-input-32-a86e3b01689e>, line 1)

In [33]:
name = "Muhammad Qasim"
print(Name) # casesensitive "A" not equal "a"

NameError: name 'Name' is not defined

In [34]:
"a"
'b'
'c'# jupyter cell always return last line

'c'

In [35]:
"a"
'b'
print('c')# jupyter cell always return last line

c

# Concatination (combine two or more variables and values) | Text formation

In [41]:
name = "Muhammad Qasim"
father_name = "Muhammad Aslam"
education = "MS"
designation = "Chief Data Scientist"

print(name, father_name, education, designation)

Muhammad Qasim Muhammad Aslam MS Chief Data Scientist

In [39]:
name = "Muhammad Qasim"
father_name = "Muhammad Aslam"
education = "MS"
designation = "Chief Data Scientist"


print(name, father_name, education, designation, sep="\n")

Muhammad Qasim
Muhammad Aslam
MS
Chief Data Scientist

In [40]:
print('a')
print('b')

a
b

In [51]:
name = "Muhammad Qasim"
father_name = "Muhammad Aslam"
education = "MS"
designation = "Chief Data Scientist"
height = 5.11  #

# + operator on string join two string variable
result = "PIAIC Teacher Card\n Name: " + name +"\n Father's Name: "+father_name+"\n Education: "+education+"\n Designation: "+designation+"\n Height:"+str(height)

print(result)

PIAIC Teacher Card
 Name: Muhammad Qasim
 Father's Name: Muhammad Aslam
 Education: MS
 Designation: Chief Data Scientist
 Height:5.11

In [53]:
name = "Muhammad Qasim"
father_name = "Muhammad Aslam"
education = "MS"
designation = "Chief Data Scientist"
height = 5.11  #

data = """
PIAIC Teacher Card
 Name: {}
 Father's Name: {}
 Education: {}
 Designation: {}
 Height:{}
""".format(name,father_name,education,designation,height) # now we don't need to type cast


print(data)

PIAIC Teacher Card
 Name: Muhammad Qasim
 Father's Name: Muhammad Aslam
 Education: MS
 Designation: Chief Data Scientist
 Height:5.11

In [55]:
name = "Muhammad Qasim"
father_name = "Muhammad Aslam"
education = "MS"
designation = "Chief Data Scientist"
height = 5.11  #

data = """
PIAIC Teacher Card
 Name: {4}
 Father's Name: {0}
 Education: {2}
 Designation: {3}
 Height:{1}
""".format(father_name,height,education,designation,name) # now we don't need to type cast
#               0       1       2           3        4

print(data)

PIAIC Teacher Card
 Name: Muhammad Qasim
 Father's Name: Muhammad Aslam
 Education: MS
 Designation: Chief Data Scientist
 Height:5.11

In [56]:
name = "Muhammad Qasim"
father_name = "Muhammad Aslam"
education = "MS"
designation = "Chief Data Scientist"
height = 5.11  #

data = f"""
PIAIC Teacher Card
 Name: {name}
 Father's Name: {father_name}
 Education: {education}
 Designation: {designation}
 Height:{height}
"""


print(data)

PIAIC Teacher Card
 Name: Muhammad Qasim
 Father's Name: Muhammad Aslam
 Education: MS
 Designation: Chief Data Scientist
 Height:5.11

In [57]:
name

'Muhammad Qasim'

In [ ]:
 0 1 2 3
(a,b,c,e)

In [48]:
a = "Pakistan"
b = 1000

a + b

TypeError: can only concatenate str (not "int") to str

In [52]:
int('100')

100

In [49]:
a = "Pakistan"
b = 1000

a + str(b)

'Pakistan1000'

In [58]:
abc = input("Enter any value: ") #always return text value
print(abc)

Enter any value: Pakistan zinda bad
Pakistan zinda bad

In [59]:
name = input("Enter Your Name:")
father_name = input("Father's Name")
education = input("Education")
designation = input("Your Designation")
height = float(input("Your Height"))  #

data = f"""
PIAIC Teacher Card
 Name: {name}
 Father's Name: {father_name}
 Education: {education}
 Designation: {designation}
 Height:{height}
"""


print(data)

Enter Your Name:Asif
Father's NameAbid
EducationMaster
Your DesignationData Scientist
Your Height5.8

PIAIC Teacher Card
 Name: Asif
 Father's Name: Abid
 Education: Master
 Designation: Data Scientist
 Height:5.8

# String Methods

In [9]:
print(data)

Name:             Muhammad Qasim
Father's Name:    Muhammad Aslam
Batch:            36-37

In [13]:
name = "muhammad Qasim"
name.capitalize()

'Muhammad qasim'

In [15]:
name = "Muhammad Qasim"
name.casefold()

'muhammad qasim'

In [17]:
name = "Muhammad Qasim"
print("Muhammad Qasim"=="muHAMMAd Qasim")
name.casefold() == "muHAMMAd Qasim".casefold()

False

True

In [28]:
name = "Muhammad Qasim"
name.center(65)

'                          Muhammad Qasim                         '

In [30]:
name = "Muhammad Qasim"
name.center(2)

'Muhammad Qasim'

In [32]:
name = "Muhammad Qasim"

print(name.count("Qasim"))
print(name.count('a'))

1
3

In [37]:
name = "Muhammad Qasim"
name.encode('utf-8')

b'Muhammad Qasim'

In [38]:
name = "Muhammad Qasim"
name.endswith("sim")

True

In [40]:
name = "Muhammad Qasim"
name.startswith("Muh")

True

In [41]:
data = """
name:\t Qasim
fater:\t Aslam
EDU:\t MS
"""
print(data)

name:	 Qasim
fater:	 Aslam
EDU:	 MS

In [43]:
print(data.expandtabs(20))

name:                Qasim
fater:               Aslam
EDU:                 MS

In [53]:
name = "Muhammad Qasim"
print(name.find("ha"))
print(name.find("a"))
print(name.find("a",4))
print(name.find("a",7))

2
3
6
10

In [45]:
name.find("Qa")

9

In [50]:
name = "Wajid Khan"
print(name.find("d K"))

4

In [56]:
name = "Wajid Khan"
name[0:5]

'Wajid'

In [57]:
name = "Wajid Khan"
name.format_map()

'Wajid Khan'

In [58]:
records = {"x":"Qasim",
           "y":"Aslam",
          }

print("Name: {x} \n father name {y}".format_map(records))

Name: Qasim
 father name Aslam

In [59]:
name = "Qasim"
name.index('a')

1

In [71]:
name = "Muhammad3"
name.isalnum()

True

In [67]:
name = "Qasim"
name.isalpha()

True

In [68]:
name = "Qasim20"
name.isalpha()

False

In [75]:
name = "ڈیلی"
name.isascii()

False

In [78]:
name = "2"
name.isdecimal()

True

In [79]:
name = "2"
name.isdigit()

True

In [80]:
name = "20"
name.isnumeric()

True

In [82]:
name = "PaKIstAN"
name.lower()

'pakistan'

In [83]:
name = "PaKIstAN"
name.islower()

False

In [84]:
name = "  Qasim  "
name.lstrip()

'Qasim  '

In [85]:
name = "  Qasim  "
name.rstrip()

'  Qasim'

In [86]:
name = "  Qasim  "
name.strip()

'Qasim'

In [87]:
dir(name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']