# How we can print strings?
## Let's start!

In [1]:
print("faizan")

faizan

In [2]:
print("faizan is learning python with spirit!")

faizan is learning python with spirit!

In [9]:
data = "Name = Faizan \nClass = BS CS \nAge = 19" #write strings using " "

print(data)

Name = Faizan
Class = BS CS
Age = 19

In [10]:
data = 'Name = Faizan \nClass = BS CS \nAge = 19' #write strings using ''

print(data)

Name = Faizan
Class = BS CS
Age = 19

In [11]:
data = """ 
        Name  =\t  Faizan 
        Class =\t  BS CS 
        Age   =\t  19
        
        """
                    #""" """ triple double quotes are used to write multi line strings
print(data)

        Name  =	  Faizan
        Class =	  BS CS
        Age   =	  19

In [12]:
data = """
        Name  =\t Faizan
        Class =\t BS CS
        Age   =\t 19

        """
print(data.expandtabs(30))  #.expandtabs() is used to add additional tab spaces

        Name  =                Faizan
        Class =                BS CS
        Age   =                19

# Let's create a variable

In [13]:
age = 19
print ("Faizan's age is",age)

Faizan's age is 19

In [35]:
name = "Faizan Yousaf"
print("My name is", name)

My name is Faizan Yousaf

## Let's see how we can concatinate variables and strings

In [14]:
                                # 1
Name = "Faizan Yousaf"
Class = "BS CS"
Age = 19
University = "UAF"
print(Name, Class, Age,University)

Faizan Yousaf BS CS 19 UAF

In [15]:
                                # 2
Name = "Faizan Yousaf"   
Class = "BS CS "
Age = 19
University = "UAF"
                                #in jupyter, It returns the last variable value when you write the variable name without 
                                    #using print fuction;
        
# University
Age

19

In [16]:
                                # 3
Name = "Faizan Yousaf"   
Class = "BS CS "
Age = 19
University = "UAF"
                                #we used "+" sign to combine variables and strings
    
print( "Your name is "+ Name +"\nYour class is "+ Class +"\nYour age is "+ str(Age) + "\nYou study at "+ University)

Your name is Faizan Yousaf
Your class is BS CS
Your age is 19
You study at UAF

In [17]:
                                # 3
Name = "Faizan Yousaf"   
Class = "BS CS "
Age = 21
University = "UAF"
                                #we can concatinate using .format() function
data = """
        Your name is = {}
        Your class is = {}
        Your age is =  {}
        You study at = {}
""".format(Name , Class, Age , University)
   #         0     1      2       3
print(data)

        Your name is = Faizan Yousaf
        Your class is = BS CS
        Your age is =  21
        You study at = UAF

In [18]:
                                # 4
Name = "Faizan Yousaf"   
Class = "BS CS "
Age = 19
University = "UAF"

data = """
            Your name is {3}
            Your class is {0}
            Your age is {1}
            You study at {2}
        """.format(Class , Age , University , Name)
            #        0      1      2           3 
                                                   #we used .format fucntion with indexes to print out values of variables
print(data)

            Your name is Faizan Yousaf
            Your class is BS CS
            Your age is 19
            You study at UAF

In [8]:
                                # 5
Name = "Faizan Yousaf"   
Class = "BS CS "
Age = 19
University = "UAF"
 
data = f"""
            Your name is {Name}
            Your age is {Age}
            Your class is {Class}
            You study at {University}
            """
                                  #SIMPLEST    #just write 'f' after assignment operator and in '{}' write variable name;
print(data)

            Your name is Faizan Yousaf
            Your age is 19
            Your class is BS CS
            You study at UAF