# Functions in python:
* funcion define/decleration
    * function name 
    * arguments
    
* function body
    * set of statements
* function calling
    * name()
    * pass arguments

## predefine functions
* functions which are defined already.

## user define function
* function which are made by us for our own ease.

## return
* stores value in variable.

## non-return
* does'nt store value in variable.

## default
* it does'nt require any argument when the function is called.

## required arguments
* function will not work without these arguments.

## optional arguments
* if we don't provide these arguments, the function will work.

## Generator
* generates values one by one.
* it remembers the old generated values.

## Lambda function
* one line function.
* it can be used only once.
* it has no name.

## Recursive function
* it call itself in it's body

## pre-defined functions

### Return / Non-return functions

In [9]:
c=print("pakistan zindabad")  #non-return function
print(c)

pakistan zindabad
None

In [10]:
a= id("Faizan") #return function
print(a)

2020681617008

In [11]:
a= len("pakistan is the best")  #return function
print(a)

20

### User defined function

```
def function_name(arg1, arg2 ....):
    statement 1
    statement 2
    
function_name(arg1, arg2)

```

In [27]:
def faizan_data():     #function decleration
    print("Name:")     # Statements
    print("\t Faizan")
    print("Degree:")
    print("\t BS CS")
    print("Age:")
    print("\t 20")
    
faizan_data()        #function calling

Name:
	 Faizan
Degree:
	 BS CS
Age:
	 20

In [37]:
def AI_education():
    text = """
            Student Name: Faizan
            Class : BS
            Degree : CS
            Semester : 3rd
            Skills : AI and Data Science
            """
    return text    

print(AI_education())    #return function

            Student Name: Faizan
            Class : BS
            Degree : CS
            Semester : 3rd
            Skills : AI and Data Science

In [39]:
print( AI_education())
print( AI_education())

            Student Name: Faizan
            Class : BS
            Degree : CS
            Semester : 3rd
            Skills : AI and Data Science


            Student Name: Faizan
            Class : BS
            Degree : CS
            Semester : 3rd
            Skills : AI and Data Science

## Required arguments
* function will not work without these arguments.

In [44]:
def add ( num1 , num2):   #here num1 and num2 are merely variable names:
    return num1+ num2
     

print(add(20,21))
print(add(60,40))
print(add(100,312))

41
100
412

## optional arguments
* if we don't provide these arguments, the function will work.

In [51]:
def add ( num1="pakistan" , num2="0"):
    return num1+ num2

print(add())  #if we don't write any arguments, it will print the parameters of the function

print(add("faizan")) #its concatinates the two given arguments: string + string

print(add(21,21))   #here it is adding the two given integer arguments

pakistan0
faizan0
42

In [2]:
def add ( num1=0 , num2=0):
    return num1+ num2

print(add(10,1))
print(add(90,60))
print(add(21,21))

11
150
42

# Optional and Required Arguments:

## Tea making function!

In [7]:
def Tea( pani, patti, doodh, time="5 mint"):
    receipy = f"""
        pour {pani}  milileters pani in pot...
        Now add {patti} table spoon patti according to your taste....
        add {doodh} leters doodh ...
        wait for {time}...
        Now, your amazing tea is ready..Enjoy!!!! """ 
    return receipy
print(Tea("20", "0.5","0.5"))

        pour 20  milileters pani in pot...
        Now add 0.5 table spoon patti according to your taste....
        add 0.5 leters doodh ...
        wait for 5 mint...
        Now, your amazing tea is ready..Enjoy!!!!

In [10]:
print(Tea("10","20","31"))

        pour 10  milileters pani in pot...
        Now add 20 table spoon patti according to your taste....
        add 31 leters doodh ...
        wait for 5 mint...
        Now, your amazing tea is ready..Enjoy!!!!

# Optional arguments (unlimited)

In [17]:
def add (num1, *num):   # *num will store/take "unlimited parameters"!
    print(num1, num) 
    return num1 + sum(num)
print(add (1,2,3,32,11,20))

1 (2, 3, 32, 11, 20)
69

In [18]:
def add (num1, num2, *num):   # *num will store/take "unlimited parameters"!
    print(num1,num2, num) 
    return num1 + num2, sum(num)     #num1= 1, num2 =2, *num will hold the remaning values:
print(add (1,2,33,43,23,424,24,23))

1 2 (33, 43, 23, 424, 24, 23)
(3, 570)

In [29]:
# as we already know :
a,b = (10,20)
c,d = [30,40]
print(a)
print(b,"\n")
print(c)
print( d)

10
20

30
40

In [30]:
def add (num1, num2, *num):   # *num will store/take "unlimited parameters"! and during function 
                            #decleration,*num it will return values tuple form.
    print(num1,num2, num) 
    return num1 + num2, sum(num)     #num1= 1, num2 =2, *num will hold the remaning values:
print(add (1,2,33,43,23,424,24,23))

1 2 (33, 43, 23, 424, 24, 23)
(3, 570)

In [32]:
#let's create a list :
l= [ 1,2,3,4,50,43,23,11,39]
print(l[0],l[1],l[2],l[3],l[4],l[5],l[6],l[7],l[8])

1 2 3 4 50 43 23 11 39

## but this can be easily done by using *(list/dictionary or any interated datatype) name as *l:

In [34]:
#let's see the above example:     single staric* returns simple string values.
l= [ 1,2,3,4,50,43,23,11,39]
print(*l)    #*l will the iterated datatypes into unzip values:
print(l)    #see the difference b/w these two prints

1 2 3 4 50 43 23 11 39
[1, 2, 3, 4, 50, 43, 23, 11, 39]

In [35]:
print(add(*l))

1 2 (3, 4, 50, 43, 23, 11, 39)
(3, 173)

In [36]:
def new_add (num1,num2,num3):
    return num1+ num2 + num3
print(new_add(10,21,32))

63

In [44]:
def new_add (num1,num2,num3):
    return num1+ num2 + num3

l= [ 1,2,3,4,50,43,23,11,39]
print(new_add(20,30,l[4]),l[-2:])

100 [11, 39]

## During calling we can call the function parameters with a keyword to avoid misplacing the parameters info

In [50]:
def CLEP_Drive(name, father_name, AG, Degree, Skills, Role):
    Volunteer_info = f"""
    CLEP Volunteer Drive 2022:
        Volunteer name: {name} | Father name: {father_name}
        AG #: {AG} | Degree: {Degree} 
        Skills : {Skills}
        Role : {Role}
        """
    return Volunteer_info
print(CLEP_Drive(name= "Muhammad Faizan", father_name= "Muhammad Yousaf", AG= "2021-ag-7776", Degree ="BS CS", Skills= "Photoshop Expert", Role = "Volunteer photographer"))

    CLEP Volunteer Drive 2022:
        Volunteer name: Muhammad Faizan | Father name: Muhammad Yousaf
        AG #: 2021-ag-7776 | Degree: BS CS
        Skills : Photoshop Expert
        Role : Volunteer photographer

### Now even if we write the arguments info in different order, it will not effect our standard card format!

In [56]:


def CLEP_Drive(name, father_name, AG, Degree, Skills, Role):
    Volunteer_info = f"""
    CLEP Volunteer Drive 2022:
        Volunteer name: {name} | Father name: {father_name}
        AG #: {AG} \t        | Degree: {Degree} 
        Skills : {Skills}
        Role : {Role}
        """
    return Volunteer_info
print(CLEP_Drive(input(AG)= "2021-ag-7776", Degree ="BS CS", Skills= "Photoshop Expert",
                 name= "Muhammad Faizan", father_name= "Muhammad Yousaf", 
                  Role = "Volunteer photographer"))

    CLEP Volunteer Drive 2022:
        Volunteer name: Muhammad Faizan | Father name: Muhammad Yousaf
        AG #: 2021-ag-7776 	        | Degree: BS CS
        Skills : Photoshop Expert
        Role : Volunteer photographer

In [61]:
print(CLEP_Drive(AG= "21-ag-7776",name= "muhammad Faizan", father_name = "Muhammad Yousaf",Degree = "DVM"
                ,Skills = "Doctor", Role="Volunteer Doctor" ))

    CLEP Volunteer Drive 2022:
        Volunteer name: muhammad Faizan | Father name: Muhammad Yousaf
        AG #: 21-ag-7776 	        | Degree: DVM
        Skills : Doctor
        Role : Volunteer Doctor

In [67]:
def CLEP_Drive_1(name, father_name, AG):
    Volunteer_info_1 = f"""
    CLEP Volunteer Drive 2022:
        Volunteer name: {name} | Father name: {father_name}
        AG #: {AG}
        """
    return Volunteer_info_1
print(CLEP_Drive_1(name = input("Enter your name: "), father_name=input("Enter your father's name: " ),
                  AG = input("Enter your AG number: ")))

Enter your name: Muhammad Faizan
Enter your father's name: Muhammad Yousaf
Enter your AG number: 2021-ag-7776

    CLEP Volunteer Drive 2022:
        Volunteer name: Muhammad Faizan | Father name: Muhammad Yousaf
        AG #: 2021-ag-7776

In [1]:
def CLEP_Drive_2(name, father_name, AG, Degree, Skills, Role):
    Volunteer_info_1 = f"""
    CLEP Volunteer Drive 2022:
        Volunteer name: {name}|Father name: {father_name}
        AG #: {AG}|Degree: {Degree} 
        Skills : {Skills}
        Role : {Role}
        """
    return Volunteer_info_1

#we use key and value below because we want our order to be the same
print(CLEP_Drive_2(name=input("Enter your name: "), father_name=input("Enter your father's name: " ),
                  AG = input("Enter your AG number: "), Role = input("Enter your specified role: "),
                  Skills = input("Write your skills here: "), Degree=input("Enter your Degree: ")))

Enter your name: Muhammad Faizan
Enter your father's name: Muhammad Yousaf
Enter your AG number: 2021-ag-7776
Enter your specified role: Photographer
Write your skills here: photoshop
Enter your Degree: BS CS

    CLEP Volunteer Drive 2022:
        Volunteer name: Muhammad Faizan|Father name: Muhammad Yousaf
        AG #: 2021-ag-7776|Degree: BS CS
        Skills : photoshop
        Role : Photographer

## let's check some uses of * and **:

In [5]:
def fname(num1,num2,*l1):  #*single staric gives us the ability to assign unlimited values to a list
    print(num1,num2,l1)
    
fname( 2,43,'faizan', 'Yousaf',21,21,43.32,45,False)

2 43 ('faizan', 'Yousaf', 21, 21, 43.32, 45, False)

## create unlimited key arguments:

## let's use ** :
* it is used with dictionaries:
* it will return value in dictonary form if we use it as a function parameter:

In [14]:
def roll ( num1,num3, **d1):
    print(num1,num3, d1)
    
roll(21,434, age= 21, name = "Faizan", Class = "BS", rollnumber= 35)

21 434 {'age': 21, 'name': 'Faizan', 'Class': 'BS', 'rollnumber': 35}

### and when we use ** during a function call :

In [20]:
def CLEP_Drive_1(name, father_name, AG):
    Volunteer_info_1 = f"""
    CLEP Volunteer Drive 2022:
        Volunteer name: {name} | Father name: {father_name}
        AG #: {AG}
        """
    return Volunteer_info_1
print(CLEP_Drive_1(name = input("Enter your name: "), father_name=input("Enter your father's name: " ),
                  AG = input("Enter your AG number: ")))

Enter your name: Muhammad Faizan
Enter your father's name: Muhammad Yousaf
Enter your AG number: 21

    CLEP Volunteer Drive 2022:
        Volunteer name: Muhammad Faizan | Father name: Muhammad Yousaf
        AG #: 21

In [26]:
d3 = {"father_name": "Yousaf",
    "name": "Faizan",
     "AG" : 35}
print(CLEP_Drive_1(**d3))   

#as we are using **, it will atomatically allocate the variable accoringly
# we just have to write the same parameter names as keys of the dictionary

    CLEP Volunteer Drive 2022:
        Volunteer name: Faizan | Father name: Yousaf
        AG #: 35

# Lambda function:
* one line function.
* it has no name.
* it destroys itself after execution.

### Basic syntax of lambda function:

*  lambda arg1,ag2,ag3, ... argn: function_body

In [27]:
a = lambda num1,num2: num1+num2
a(21,43)

64

In [29]:
print(a) # it destroyed itself after execution!

<function <lambda> at 0x00000207C5E66310>

In [35]:
data = [ 
         [1 , 'Z'],
         [2 , 'Y'],
         [3 , 'X']
]

# we give the index value and we get our sorted values on that specific index
sorted(data, key=lambda x:x[1])

[[3, 'X'], [2, 'Y'], [1, 'Z']]

In [36]:
data = [# 0    1
         [1 , 'Z'],
         [2 , 'Y'],
         [3 , 'X']
]

# we give the index value and we get our sorted values on that specific index
sorted(data, key=lambda x:x[0])

[[1, 'Z'], [2, 'Y'], [3, 'X']]

# Generator functions: