#  Error handeling and file in Python!

### map function

In [8]:
list=[1,2,3,4,5]
list

[1, 2, 3, 4, 5]

In [11]:
l = ['1','2','3','4','5']

list(map(lambda x:x+2, l))

TypeError: 'list' object is not callable

## Compile time error:
#### during code
* it will occur at the time of execution

#### for example we make a list as :

In [13]:
list1 = [1,2,3,4,5]

print(list1[7])  #it will generate an error as there is no value at the index 7.

IndexError: list index out of range

## Logical error: 
#### due to poor logic of a programmer
* it occurs when a programmer write some wrong logic during programming/coding

In [17]:
def sum (x,y):
    return x+x

print(sum(2,54)) # in this example, the user have written wrong logic that's why the 
                #output is unexpected!

4

## Runtime Error:
#### during production
#### live production application error
* it will occur when the code will run in the terminal

## these errors must be removed to avoid financial loss and other customer inconvinence!

# some types of errors:

## NameError

In [19]:
print("line 1")
print("line 2")
print(abc)
print("line 4")
print("line 5")

line 1
line 2

NameError: name 'abc' is not defined

## Type and operational error

In [20]:
2 + "pakistan"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

## Zero Division Error

In [26]:

a =2
b=0
print(a/b)

ZeroDivisionError: division by zero

## value error

In [27]:
int ("7.2")  #we cannot convert string to float or int.

ValueError: invalid literal for int() with base 10: '7.2'

In [28]:
int(7.2) #we can convert float to int.

7

In [29]:
float (10)  # we can convert int to float.

10.0

### we can convert string into float and then convert float into strings

In [31]:
int(float("7.22")) # first the floating string is converted into float and then it is converted
                    #into int.

7

## FileNotFound error

In [33]:
open (faizan.txt)

NameError: name 'faizan' is not defined

## IndexError

In [34]:
list8 =[1,2,3,4,5]

list8[10]  # trying to access an index value which never existed in that list or variable.

IndexError: list index out of range

## tuple errors:

### TypeError

In [35]:
2 + (2,3,4,5)

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

In [36]:
a = (1,2,3,4,5,6)

a[0]

1

In [39]:
a[0]=10

TypeError: 'tuple' object does not support item assignment

In [42]:
b= (1,2,3,4,5,6,7,8)
c =(2,3,4,5)
b[10]

IndexError: tuple index out of range

In [43]:
b + c  #it will only add the values of another tuple in the end of the first one.

(1, 2, 3, 4, 5, 6, 7, 8, 2, 3, 4, 5)

## dictionary errors

In [47]:
d1 = {"name": 'Faizan',
     "degree": "BS CS",
     "university": "UAF"}
d1

{'name': 'Faizan', 'degree': 'BS CS', 'university': 'UAF'}

In [51]:
print(d1.keys())

dict_keys(['name', 'degree', 'university'])

In [52]:
print(d1.values())

dict_values(['Faizan', 'BS CS', 'UAF'])

In [58]:
d1[name]

NameError: name 'name' is not defined

In [57]:
d1["degree"]  #we have to write the key name in " " double quotations to get the values of that key.

'BS CS'

### But if we call a key which doesn't even exist in that dictionary, it will surely generate an error.

In [53]:
d1["education"]

KeyError: 'education'

## compile and exec
* compile()
    * source file, "file name" , "mode" (i.e exec)

In [2]:
a = """    
a=2
b=4
print(a+b)
"""
b= compile(a,"aa", "exec")   #in this way we can write code within "" double quotations and the compile
                            #will save the code in binary and the next time it will be executed fast. 
exec(b)

6

In [ ]:
#In the above cell we have seen compile and exec functions....
# in compile function () we have to write the source file name, then "the name we want to assign that file", and 
# the mode means the what we want to do with that function....here we executed that file.

In [5]:
code_a = """
a=2
b="A"
print(a+b)
"""
code = compile(code_a,"aa", "exec")
exec(code)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

## How to deal with run time error?

```
try:
    statement
    # write statement where there are error chances
except (ErrorClassName,e2,e3,e4,....):
    run if an error occurs in the above statement.
else:
    run if an error occurs in the above statement.
finally:
    always run
    
    

```

In [9]:
print("starting line")
a =21
b=0
print(a/b)
print("Ending line")

starting line

ZeroDivisionError: division by zero

## let's see how we can handle runtime errors.

In [6]:
print("starting line")
a =21
b=0

try:
    print(a/b)
except(ZeroDivisionError):
    print("try to divide with a number other than zero '0' ")
    
print("Ending line")

starting line
try to divide with a number other than zero '0'
Ending line

In [7]:
print("starting line")
a =21
b=2

try:
    print(a/b)
except(ZeroDivisionError):
    print("try to divide with a number other than zero '0' ")
    
print("Ending line")

starting line
10.5
Ending line

In [14]:
print("start")
a = 13
b = 0
l1 = [1,2,3,4,5]

try:
    print(a/b)
    print(l1[7])
    open ("abc.txt")
except(ZeroDivisionError, IndexError , FileNotFoundError):
    print("there is something wrong with your instructions!")
    
print("End")

IndentationError: expected an indented block (2757761300.py, line 10)

## when we use a single try except block and write all the statements in it, it's difficult to know what was the actual error !

 * to prevent this , we can use try except block for each case:

In [20]:
print("start")
a = 21
b = 0
l1 = [1,2,3,4,5]

try:
    print(a/b)
except (ZeroDivisionError):
    print("You have divided the number with a zero!")

try:
    print(l1[8])
except (IndexError):
    print("Index not found")

try :
    open("abc.txt")
except (FileNotFoundError):
    print("Path not found")
    
print("end")

start
You have divided the number with a zero!
Index not found
Path not found
end

In [21]:
print("start")
a = 13
b = 0
l1 = [1,2,3,4,5]

try:
    print(a/b)
    print(l1[7])
    open ("abc.txt")
except :
    print("there is something wrong with your instructions!")
    
print("End")

start
there is something wrong with your instructions!
End

# Dynamic Run time error:

* dynamic error handeling with custom message.....
* Use of "Exception" to generate messages!

In [26]:
print("start")
a = 13
b = 0
l1 = [1,2,3,4,5]

try:
    print(a/b)
#     print(l1[7])
#     open ("abc.txt")
except Exception as e:  #Exception is a parent class which has all the instructions about errors!
    print("something wrong!",e)
    
print("End")

start
something wrong! division by zero
End

In [27]:
print("start")
a = 13
b = 0
l1 = [1,2,3,4,5]

try:
#     print(a/b)
    print(l1[7])
#     open ("abc.txt")
except Exception as e:  #Exception is a parent class which has all the instructions about errors!
    print("something wrong!",e)
    
print("End")

start
something wrong! list index out of range
End

In [28]:
print("start")
a = 13
# b = 0
l1 = [1,2,3,4,5]

try:
#     print(a/b)
#     print(l1[7])
    open ("abc.txt")
except Exception as e:  #Exception is a parent class which has all the instructions about errors!
    print("something wrong!",e)  

#we have to call the nickname for Exception class in the print() of #except block!
    
print("End")
#

start
something wrong! [Errno 2] No such file or directory: 'abc.txt'
End

In [31]:
open("abc.txt")   #: [Errno 2] No such file or directory: 'abc.txt'

FileNotFoundError: [Errno 2] No such file or directory: 'abc.txt'

In [37]:
print("start")
a = 21
b = 0
l1 = [1,2,3,4,5]

try:
    print(a/b)
except Exception as e:
    print("something is wrong!",e)

try:
    print(l1[8])
except Exception as f:
    print("something is wrong!",f)

try :
    open("abc.txt")
except Exception as g:
    print("something is wrong!",g)
    
print("end")

start
something is wrong! division by zero
something is wrong! list index out of range
something is wrong! [Errno 2] No such file or directory: 'abc.txt'
end

In [39]:
print("start")
a = 21
b = 0
l1 = [1,2,3,4,5]

try:
    print(a/b)
except Exception as e:
    print("something is wrong!",e)

try:
    print(l1[8])
except Exception as e:
    print("something is wrong!",e)

try :
    open("abc.txt")
except Exception as e:
    print("something is wrong!",e)
    
print("end")

start
something is wrong! division by zero
list index out of range
something is wrong! [Errno 2] No such file or directory: 'abc.txt'
end

In [42]:
print("start")
a = 21
b = 2
l1 = [1,2,3,4,5]

try:
    print(a/b)
except Exception as e:
    print("something is wrong!",e)   #it will run when the error will occur.
else:
    print("the task was done successfully! ")  #it will run only when the error will not occur.
    
# try:
#     print(l1[8])
# except Exception as e:
#     print("something is wrong!",e)

# try :
#     open("abc.txt")
# except Exception as e:
#     print("something is wrong!",e)

    
print("end")

start
10.5
the task was done successfully!
end

## finally : 
* it will always run!

In [43]:
 print("start")
a = 21
b = 0     #there is a error!
l1 = [1,2,3,4,5]

try:
    print(a/b)
except Exception as e:
    print("something is wrong!",e)
else:
    print("the task was done successfully! ")  #it will run only when the error will not occur.
finally:
    print("Always run!")


    
print("end")

start
something is wrong! division by zero
Always run!
end

In [44]:
 print("start")
a = 21
b = 2     #there is no a error!
l1 = [1,2,3,4,5]

try:
    print(a/b)
except Exception as e:
    print("something is wrong!",e)
else:
    print("the task was done successfully! ")  #it will run only when the error will not occur.
finally:
    print("Always run!")


    
print("end")

start
10.5
the task was done successfully!
Always run!
end

In [46]:
print(2+3  
     * 3
     
     )

5

# Let's create our own exception classs:

In [63]:
class StudentCard():
    def __init__(self, roll, name, age):    #init is predefined!
        if age < 18 or age > 60:
            raise "Student less than age 18 and greater than age 60 are not allowed!"
        self.roll = roll
        self.name = name
        self.age = age
        
s1 = StudentCard(1,"Fazi",21)

print("student name is :", s1.name)
print("student age is :",s1.age)
print("student roll number is :",s1.roll)

student name is : Fazi
student age is : 21
student roll number is : 1

In [64]:
class StudentCard():
    def __init__(self, roll, name, age):    #init is predefined!
        if age < 18 or age > 60:
            raise Exception("Student less than age 18 and greater than age 60 are not allowed!")
        self.roll = roll
        self.name = name
        self.age = age
        
s2 = StudentCard(2,"hamza",12)

print("student name is :", s1.name)
print("student age is :",s1.age)
print("student roll number is :",s1.roll)

Exception: Student less than age 18 and greater than age 60 are not allowed!

In [66]:
class StudentCard():
    def __init__(self, roll, name, age):    #init is predefined!
        if age < 18 or age > 60:
            raise StudentAgeError("Student less than age 18 and greater than age 60 are not allowed!")
        self.roll = roll
        self.name = name
        self.age = age
        
class StudentAgeError(Exception):  #created a class to name it as we want to show the name of error:
    pass

s2 = StudentCard(2,"hamza",12)
print("student name is :", s2.name)
print("student age is :",s2.age)
print("student roll number is :",s2.roll)

StudentAgeError: Student less than age 18 and greater than age 60 are not allowed!

In [77]:
class StudentCard():
    def __init__(self, roll, name, age):    #init is predefined!
        if age < 18 or age > 60:
            raise StudentAgeError("Student less than age 18 and greater than age 60 are not allowed!")
        self.roll = roll
        self.name = name
        self.age = age
        
class StudentAgeError(Exception):  #created a class to name it as we want to show the name of error:
    pass
try:
    s3 = StudentCard(3,"Wiki",12)
except Exception as er:
    print("Something is wrong! Note :",er)
    
# print("student name is :", s3.name)
# print("student age is :",s3.age)
# print("student roll number is :",s3.roll)

Something is wrong! Note : Student less than age 18 and greater than age 60 are not allowed!

In [49]:
import datetime as dt
dt.datetime.now()

datetime.datetime(2022, 10, 17, 13, 53, 41, 220047)