---

# Dictionary
* represented by curly brakets { }
* we assign the elements as keys and values
* values are assigned to keys using colon " : "
* every key value pair is seperated by comma " , "  i.e  {key1: value1, key2:value2, key3:value3, and so on }
* no index, we can easily call the elements by their key names
* Keys must be int or string type
* Values can be of any type
* we can add lists in the dictionaries

## declearation of a dictionary

In [6]:
user_data = {
    'Name':'Muhammad Faizan',
    'Fahter name':'Muhammad Yousaf',
    'Age': 20,
    'Qualification':'BS Computer Science',
    'Skills': ["AI", "ML", "NLP", "DS"],
    1:"Pakistan"
    }
user_data

{'Name': 'Muhammad Faizan',
 'Fahter name': 'Muhammad Yousaf',
 'Age': 20,
 'Qualification': 'BS Computer Science',
 'Skills': ['AI', 'ML', 'NLP', 'DS'],
 1: 'Pakistan'}

## How to access the values of any keys

* dictname[key]

In [12]:
user_data = {
    'Name':'Muhammad Faizan',
    'Fahter name':'Muhammad Yousaf',
    'Age': 20,
    'Qualification':'BS Computer Science',
    'Skills': ["AI", "ML", "NLP", "DS"],
    1:"Pakistan"
    }

type(user_data)

dict

In [18]:
user_data = {
    'Name':'Muhammad Faizan',
    'Fahter name':'Muhammad Yousaf',
    'Age': 20,
    'Qualification':'BS Computer Science',
    'Skills': ["AI", "ML", "NLP", "DS"],
    1:"Pakistan"
    }
print(user_data["Name"])
print(user_data["Age"])
print(user_data["Qualification"])

Muhammad Faizan
20
BS Computer Science

In [19]:
user_data[1]

'Pakistan'

In [20]:
l1= ['faizan', 'faizan']
l1

['faizan', 'faizan']

In [34]:
data= {
    'Name': ['Zahoor','Waqar','Faizan'],
    'Father Name': ['M.Ahmed','M.Akram','M.Yousaf'],
    'Age': [19,19,20],
    'Skills': ['Web', 'C++','Python']
}
import pandas as pd
df1 = pd.DataFrame(data)
df1

     Name Father Name  Age  Skills
0  Zahoor     M.Ahmed   19     Web
1   Waqar     M.Akram   19     C++
2  Faizan    M.Yousaf   20  Python

### another way to create a dictionary
* we can work on dictionaries in both ways...all the methods and attributes will work same !

In [31]:
data1={}

data1["names"]= ['faizan', 'waqar' ,'zahoor']
data1['class']= ["BS", 'BS', 'BS']
data1['degree']= ["Data Science", 'BI', 'SE']

data1

{'names': ['faizan', 'waqar', 'zahoor'],
 'class': ['BS', 'BS', 'BS'],
 'degree': ['Data Science', 'BI', 'SE']}

In [35]:
import pandas as pd
df2 = pd.DataFrame(data1)
df2

    names class        degree
0  faizan    BS  Data Science
1   waqar    BS            BI
2  zahoor    BS            SE

In [7]:
data1={}

data1["names"]= ['faizan', 'waqar' ,'zahoor'] 
data1['class']= ["BS", 'BS', 'BS']
data1['degree']= ["Data Science", 'BI', 'SE']
data1['names']= data1['names']+['hamza Ali']
data1

{'names': ['faizan', 'waqar', 'zahoor', 'hamza Ali'],
 'class': ['BS', 'BS', 'BS'],
 'degree': ['Data Science', 'BI', 'SE']}

In [4]:
data1

{'names': ['faizan', 'waqar', 'zahoor'],
 'class': ['BS', 'BS', 'BS'],
 'degree': ['Data Science', 'BI', 'SE']}

In [12]:
dir(data2)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [10]:
#.copy() is used to assign the data of a dictionary to another dictionary.
data2 = data1.copy()
data2

{'names': ['faizan', 'waqar', 'zahoor', 'hamza Ali'],
 'class': ['BS', 'BS', 'BS'],
 'degree': ['Data Science', 'BI', 'SE']}

In [11]:
data2

{'names': ['faizan', 'waqar', 'zahoor', 'hamza Ali'],
 'class': ['BS', 'BS', 'BS'],
 'degree': ['Data Science', 'BI', 'SE']}

In [14]:
#.get(key) is used to display the values of a specific key.

data2.get('names')

['faizan', 'waqar', 'zahoor', 'hamza Ali']

In [15]:
data2.get('degree')

['Data Science', 'BI', 'SE']

In [18]:
# .get(key) is also used if a key is not present in the dictionary,it will not generate any error and let the program execute.
data2.get('contacts')

In [28]:
# it can also show a message to the user i.e
data2.get('contacts','Invalid entry')

'Invalid entry'

In [20]:
#.fromkeys() returns a dictionary with the specified keys and value
data3 = {
    'name': 'faizan',
    'class': 'BS ',
    'degree': 'CS',
    'address': 'Khanewal'
}
data3

{'name': 'faizan', 'class': 'BS ', 'degree': 'CS', 'address': 'Khanewal'}

In [27]:
#fromkeys (list) can be used to assign a single value to all the keys of that list.
d= [ 'id','name','degree']

dict.fromkeys(keys,'empty')

NameError: name 'keys' is not defined

In [21]:
#.items() is used to list all the elements of the dictionary.

data2.items()

dict_items([('names', ['faizan', 'waqar', 'zahoor', 'hamza Ali']), ('class', ['BS', 'BS', 'BS']), ('degree', ['Data Science', 'BI', 'SE'])])

In [23]:
#.keys() is used to display all the keys of the dictionary.

data2.keys()

dict_keys(['names', 'class', 'degree'])

In [24]:
#.values() is used to display all the values of the keys present in a dictionary.

data2.values()

dict_values([['faizan', 'waqar', 'zahoor', 'hamza Ali'], ['BS', 'BS', 'BS'], ['Data Science', 'BI', 'SE']])

In [2]:
data1={}

data1["names"]= ['faizan', 'waqar' ,'zahoor']
data1['class']= ["BS", 'BS', 'BS']
data1['degree']= ["Data Science", 'BI', 'SE']

data1
data2=data1

In [14]:
#.pop(key) removes the element with the specified key

data2.pop('class')

In [8]:
data2

{'names': ['faizan', 'waqar', 'zahoor'],
 'degree': ['Data Science', 'BI', 'SE']}

In [9]:
#.popitems() removes the last inserted key-value pair
data2.popitem()

('degree', ['Data Science', 'BI', 'SE'])

In [10]:
data2

{'names': ['faizan', 'waqar', 'zahoor']}

In [13]:
#setdefault(key) returns the value of the specified key. If the key does not exist: insert the key, with the specified value
data2.setdefault('names')

['faizan', 'waqar', 'zahoor']

In [17]:
#update()  updates the dictionary with the specified key-value pairs
data2.update("names")='Hamza Bhai'

SyntaxError: cannot assign to function call (1675202804.py, line 2)

In [61]:
#.clear() is used to clear the elements of a dictionary 
data2.clear()

In [62]:
data2

{}

In [65]:
# del will delete the variable as well as the elements and it will give an error.

del data2

NameError: name 'data2' is not defined

In [29]:

list(range(1,20))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [30]:
for num in range(1,20):
    print(num)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [31]:
                             #OR
for num in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]:
    print(num)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [38]:
print(data3)

{'name': 'faizan', 'class': 'BS ', 'degree': 'CS', 'address': 'Khanewal'}

In [36]:
# we can access the values using for loop
for v in data3.values():
    print(v)

faizan
BS
CS
Khanewal

In [35]:
#we can access the keys using for loop
for k in data3.keys():
    print(k)

name
class
degree
address

In [42]:
#we can access the keys and values also by using for loop
for k in ['name','address']:
    print(k, data3[k])

name faizan
address Khanewal

In [43]:
# we can display the all the elements of a dictionary by using for loop
for i in data3.items():
    print(i)

('name', 'faizan')
('class', 'BS ')
('degree', 'CS')
('address', 'Khanewal')

In [46]:
a, b = ('faizan', 'yousaf')
print(a,b)

faizan yousaf

In [45]:
a, b = ('faizan', 'yousaf')
print(a)
print(b)

faizan
yousaf

In [47]:
# for loop can be used to print the keys as well as values of the dictionary

for k,v in data3.items():
    print(k,v)

name faizan
class BS
degree CS
address Khanewal

In [55]:
#local and global variable scope in python

f= 20  #Global variable

def abc():
    f= 100  #local variable
    print(f)

abc()  #function call and the local variable is printed

print(f) # here the global variable is printed

100
20

# Checking the returnand non-return functions

* return: "if the fucntion returned value can be stored in a variable, then it is return function"



* non-retun: "if the fucntion returned value CANNOT be stored in a variable, then it is non-return function "

In [56]:


a= print('faizan')    #non-return functions
print(a)

faizan
None

In [57]:
a = len('faizan')     #return function
print(a)

6

In [59]:
a= type('faizan')    #return functions
print(a)

<class 'str'>

In [66]:
#del name of dictionary[key] , it will delete the key as well as the elements in that key.

del data3['name']

In [67]:
data3

{'class': 'BS ', 'degree': 'CS', 'address': 'Khanewal'}

In [72]:
data = {
    'name': 'faizan',
    'class': 'BS ',
    'degree': 'CS',
    'address': 'Khanewal'
}
data
a= del data['name'] #non- return fuction --> (it will not return the output in a variable)
print(a)

SyntaxError: invalid syntax (4023401984.py, line 8)

In [73]:
data = {
    'name': 'faizan',
    'class': 'BS ',
    'degree': 'CS',
    'address': 'Khanewal'
}
a = data.pop('name') #pop() is a return function;   
            #the value of the key "name" will be removed.
print(a)
print(data)             #it will print the remaining keys and values of the dictionary data

faizan
{'class': 'BS ', 'degree': 'CS', 'address': 'Khanewal'}

In [80]:
completed_list= []

data = {
    'name': 'faizan',
    'class': 'BS ',
    'degree': 'CS',
    'address': 'Khanewal'
}
a = data.pop('name') #pop() is a return function;   
b = data.pop('class') 

completed_list.append(a)
completed_list.append(b)

print(a)
print(data)
print('')
print("The deleted values are: ", completed_list)

faizan
{'degree': 'CS', 'address': 'Khanewal'}

The deleted values are:  ['faizan', 'BS ']

In [81]:
data = {
    'name': 'faizan',
    'Class': 'BS ',
    'degree': 'CS',
    'address': 'Khanewal'
}
a = data.popitem() #popitem() will delete the last key and value.   
            
print(a)
print(data)

('address', 'Khanewal')
{'name': 'faizan', 'class': 'BS ', 'degree': 'CS'}

-------------

## Block Structure

In [1]:
print('faizan')

faizan

In [2]:
dic = { 'Names': ['Faizan','Waqar','Zahoor'],
         'Class' : ['BS','BS', 'BS',],
          'Degree': ['CS','CS','CS']
      }
dic

{'Names': ['Faizan', 'Waqar', 'Zahoor'],
 'Class': ['BS', 'BS', 'BS'],
 'Degree': ['CS', 'CS', 'CS']}

# Control Structures

* if 
    * if
    * else
    * elif
         and or not
    
* while
    * break
    * continue
    * pass

* for
    * break
    * continue
    * pass

* try
    *except
    
* def
* class

# syntax

# if
```
if True/False:
    print() #true_block
```

# if else
```
if True/False:
    print() #true_block
else:
    print() #false_block
```

# if elif else ladder 
```
if True/False:
    print() #True_block
elif True/False:
    print() #True_block
elif True/False:
    print() #True_block
elif True/False:
    print() #True_block
else:
    print() #False_block
```

# examples

# if
```
if True/False:
    print() #true_block
```

In [3]:
if True:
    print("user name is faizan")

user name is faizan

In [4]:
if True:
    print("Pakistan")

Pakistan

In [10]:
# user Input!
user = input("Enter the User Name:")
password = input( "Enter your password:")
if user=="Faizan":
    print("User name is correct!")
if password == "fazi":
    print("Welcome to your profile.Have a great day!")

Enter the User Name:Faizan
Enter your password:fazi
User name is correct!
Welcome to your profile.Have a great day!

# if else
```
if True/False:
    print() #true_block
else:
    print() #false_block
```

In [13]:
if True:
    print("Hello Faizan!") #true block
else:
    print("unauthorized user!") #false block

Hello Faizan!

In [14]:
if False:
    print("Pakistan")
else:
    print("USA")

USA

In [6]:
name = input("enter your name :")
if name== "Fazi":
    print("welcome!")
else:
    print("Invalid id")

enter your name :Fazi
welcome!

# if elif else ladder 
```
if True/False:
    print() #True_block
elif True/False:
    print() #True_block
elif True/False:
    print() #True_block
elif True/False:
    print() #True_block
else:
    print() #False_block
```

In [2]:
# user Input:

#Username code:    
user = input("Enter the User Name:")

if user=="Faizan":
    print("User name is correct!")
elif user!= "Faizan":
    print("Incorrect Username!")
    print("Enter a valid Username!")

#Password Code:
password = input( "Enter your password:")
if password == "fazi":
    print("Welcome to your profile.Have a great day!")
else:
     print("Enter a valid Password!")

Enter the User Name:fazian
Incorrect Username!
Enter a valid Username!
Enter your password:fazi
Welcome to your profile.Have a great day!

In [ ]:
# user Input:

#Username code:    
user = input("Enter the User Name:")

if user=="Faizan":
    print("User name is correct!")
elif user!= "Faizan":
    print("Incorrect Username!")
    print("Enter a valid Username!")
    
#Password Code:
password = input( "Enter your password:")
if password == "fazi":
    print("Welcome to your profile.Have a great day!")
else:
     print("Enter a valid Password!")

In [ ]:
percentage = int(input("Enter marks obtained:"))

if percentage >= 90:
    print("CONGRATS!")
    print("A+")
elif percentage>=80:
    print("A")
elif percentage>=70:
    print("B")
elif percentage>=60:
    print("C")
else:
    print("Sorry, You are FAIL!!!!")
    print('F')

In [ ]:
percentage = int(input("Enter your percentage : "))
grade =()

if percentage >= 90:
    print("CONGRATS!")
    grade = "A+"
elif percentage>=80:
    grade = "A"
elif percentage>=70:
    grade = "B"
elif percentage>=60:
    grade = "C"
else:
    print("Sorry, You are FAIL!!!!")
    grade = "F"

print(percentage)
print(grade)

In [2]:
percentage = int(input("Enter your percentage : "))
grade =()

if percentage >= 90:
    print("CONGRATS!")
    grade = "A+"
elif percentage>=80:
    grade = "A"
elif percentage>=70:
    grade = "B"
elif percentage>=60:
    grade = "C"
else:
    print("Sorry, You are FAIL!!!!")
    grade = "F"

print(percentage)
print(grade)

Enter your percentage : 90
CONGRATS!
90
A+

In [9]:
name = "Faizan yousaf, Haris Raza Farhan"
name.split()

# when we use the split( ) function without any  argument, it will split all the values in single string values/elements;

['Faizan', 'yousaf,', 'Haris', 'Raza', 'Farhan']

In [21]:
# we can specify the breaking point in the split ("the element/value" ) function

'faizan is living in Pakistan and maybe he will move to the USA soon!'.split("and")

['faizan is living in Pakistan ', ' maybe he will move to the USA soon!']

In [22]:
# In this example 
'faizan is living in Pakistan ; maybe he will move to the USA soon!'.split(";")

['faizan is living in Pakistan ', ' maybe he will move to the USA soon!']

In [13]:
#when we use split (",") function with some argument,it will split the values on the basis of comma present in b/w the elements! 
name = "Faizan yousaf, Haris Raza Farhan"
name.split(",")

['Faizan yousaf', ' Haris Raza Farhan']

In [19]:
"I'm Faizan and I'm interested in AI & Data Science!".split()

["I'm",
 'Faizan',
 'and',
 "I'm",
 'interested',
 'in',
 'AI',
 '&',
 'Data',
 'Science!']