# List     mutable        [ , , , , ]   


# Tuple  imutable       ( , , , , )

  #### list [index]
* extract single value from list or tuple
#### list [start: end]
* extract multiple values from list or tuple
#### list [start:end:sequence]
* extract multiple values from list or tuple with a sequence

# Methods and attributes

In [4]:

name = "Faizan Yousaf"
print(name)

Faizan Yousaf

In [8]:
#list

names = ["faizan" , "qasim", "ali", "hamza", "nasir" ]

print( names)

['faizan', 'qasim', 'ali', 'hamza', 'nasir']

  #### list [index]
* extract single value from list or tuple
#### list [start: end]
* extract multiple values from list or tuple
#### list [start:end:sequence]
* extract multiple values from list or tuple with a sequence

# Update value with index number

In [45]:
# ==>      0          1        2       3        4                #positive Index
names = ["faizan" , "qasim", "ali", "hamza", "nasir" ]
#           -5         -4      -3      -2       -1     <===      #negative index

print(names)

(names[0]) = "Muhammad Faizan"                  # Update value with index number
print(names)

['faizan', 'qasim', 'ali', 'hamza', 'nasir']
['Muhammad Faizan', 'qasim', 'ali', 'hamza', 'nasir']

  ## list [index]
* extract single value from list or tuple

## extract value using positive index

In [14]:
# ==>      0          1        2       3        4                #positive Index
names = ["faizan" , "qasim", "ali", "hamza", "nasir" ]
#           -5         -4      -3      -2       -1     <===      #negative index


print( names ,"\n")

print(names[0])      #extract value using positive index
print(names[4])

['faizan', 'qasim', 'ali', 'hamza', 'nasir']

faizan
nasir

##  extract value from list using negative index

In [15]:
# ==>      0          1        2       3        4 
names = ["faizan" , "qasim", "ali", "hamza", "nasir" ]
#           -5         -4      -3      -2       -1     <===

print( names ,"\n")

print(names[-5])      #extract value using negative index
print(names[-1])

['faizan', 'qasim', 'ali', 'hamza', 'nasir']

faizan
nasir

## list [start: end]

* start = include
* end = exclude or index -1
* sequence = steps


#### positive index
* extract multiple values from list or tuple

In [46]:
# ==>      0          1        2       3        4 
names = ["faizan" , "qasim", "ali", "hamza", "nasir" ]
#           -5         -4      -3      -2       -1     <===

print(names)

print("\n")         

# list [start: end]  
#  extract multiple values from list or tuple

print(names[0:1])   
print(names[0:2])
print(names[0:3])
print(names[0:4])
print(names[0:5])

['faizan', 'qasim', 'ali', 'hamza', 'nasir']


['faizan']
['faizan', 'qasim']
['faizan', 'qasim', 'ali']
['faizan', 'qasim', 'ali', 'hamza']
['faizan', 'qasim', 'ali', 'hamza', 'nasir']

## list [start: end]
#### negative index
* extract multiple values from list or tuple

In [50]:
# ==>      0          1        2       3        4 
names = ["faizan" , "qasim", "ali", "hamza", "nasir" ]
#           -5         -4      -3      -2       -1     <===

print(names)

print("\n")

# list [start: end]  
#  extract multiple values from list or tuple

print(names[-1:-3])
print(names[-3])

['faizan', 'qasim', 'ali', 'hamza', 'nasir']


[]
ali

## list [start:end:sequence]

* extract multiple values from list or tuple with a sequence
* start = include
* end = exclude or index -1
* sequence = steps


* range (start:end:sep)
* by default, value of sequence is '1'

## slicing

In [53]:
#                                             slicing
numbers = list(range(0,21))

#             start = include
#             end = exclude or index -1
#             sequence = steps     
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [63]:
numbers = list(range(0,11))
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [61]:
#  Now let's start from 1 
numbers = list(range(1,21))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [65]:
numbers = list(range(1,21))
print(numbers, "\n")

print(numbers[4:16]) # starts from index 5 and till 16 and the end will be excluded or index -1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

# what if we don't specify end

In [69]:
# what if we don't specify end 

numbers = list(range(0,21))
print(numbers, "\n")

print(numbers[4:])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

[4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

# what if we don't specify start

In [68]:
# what if we don't specify start

numbers = list(range(0,21))
print(numbers, "\n")

print(numbers[:7])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

[0, 1, 2, 3, 4, 5, 6]

# what if we don't specify start AND end

In [70]:
# what if we don't specify start AND end

numbers = list(range(1,21))
print(numbers, "\n")

print(numbers[::])    #it will print every element of the list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

# what if we don't specify start , end but we give a sequence

In [76]:
# what if we don't specify start , end but we give a sequence

numbers = list(range(1,21))
print(numbers, "\n")

print(numbers[::2])
print("\n")

print(numbers[::3])
print("\n")

print(numbers[::4])
print("\n")

print(numbers[::5])
print("\n")

print(numbers[::6])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]


[1, 4, 7, 10, 13, 16, 19]


[1, 5, 9, 13, 17]


[1, 6, 11, 16]


[1, 7, 13, 19]

# We can reverse the order of list by giving value of sequence -1

In [5]:
# We can reverse the order of list by giving value of sequence -1

numbers = list(range(1,21))
print(numbers, "\n")

print(numbers[::-1])   # the elements of the list are reversed

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

 # ****index number remains the same; only sequence are reversed.****

In [23]:
numbers = list(range(1,21))
print(numbers, "\n")
print(numbers[::-1])
                                      #****index number remains the same; only sequence are reversed.****
                            

print(numbers[2:7:1])               # 3,4,5,6,7          ==>> right to left in '+' index with +1 sequence
print(numbers[-18:-13:1])           # 3,4,5,6,7          ==>> right to left in '-' index with +1 sequence

print(numbers[15:4:-1])             # 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6
print(numbers[-13:-19:-1])          # 8, 7, 6, 5, 4, 3     ==>> left to right in minus index with -1 sequence
print(numbers[-3:-8:-1])            # 18, 17, 16, 15, 14  ==>> left to right in minus index with -1 sequence

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[3, 4, 5, 6, 7]
[3, 4, 5, 6, 7]
[16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6]
[8, 7, 6, 5, 4, 3]
[18, 17, 16, 15, 14]